@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-color: rgb(24,24,24)
}

h1, h2, h3, h4, h5, p, label {
    font-family: 'Oswald', sans-serif;
    color: rgb(255, 255, 255)
}

a {
    text-decoration: none;
    color: rgb(255,255,255);
    padding-left: 2%
}

label {
    padding-right: 35px;
}

html,
body {
  height: 100%;
  margin: 1;
  scroll-snap-type: y mandatory;
}
section {
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
}
section:nth-child(1) {
  background: rgb(24, 24, 24);
  scroll-snap-align: start;
}
section:nth-child(2) {
    background-image: url(robot.png);
    background-color: rgb(24, 24, 24);
    scroll-snap-align: start;
}
section:nth-child(3) {
  background: rgb(24, 24, 24);
  scroll-snap-align: start;
}
section:nth-child(4) {
  background: red;
}
section:nth-child(5) {
  background: yellow;
}