body {
    background-color: rgb(138, 3, 3);
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    font: sans-serif;
}

a {
    color: white;
}
.footer {
    position: fixed;
    left: 0;
    bottom: -100;
    width: 100%;
    color: white;
    text-align: center;
    background-image: url("images/fire.gif");
    background-repeat: repeat-x;
    /* background-size:cover; */
}