body {
    background-image: url(images/anytown.png);
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    font: sans-serif;
}

.right {
    flex: right;
}

.main {
    background-color: rgba(255, 255, 255, 0.9);
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
    width: fit-content;
    /* height: 1080px; */
    width: 1038px;
    min-height: 100vh;
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 50%;
}
  
  /* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}